<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js" ></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/JS/Pnotify/PNotify.css' />
    <script type="text/javascript" src="/JS/Pnotify/PNotify.js"></script>
  </head>
  <body>
    {{{body}}}
    {{#if flash.message }}
        <script>
          $(document).ready(function () {
              PNotify.notice({
                title: 'Regular Notice',
                text: 'this is test'
              });
          });
        </script>
    {{/if}}
  </body>
</html>