<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Bootstrap Simple Login Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <style>
    .login-form {
      width: 340px;
      margin: 50px auto;
      font-size: 15px;
    }

    .login-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow:
        0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
    }


    .form-control,
    .btn {
      min-height: 38px;
      border-radius: 2px;
    }

    .btn {
      font-size: 15px;
      font-weight: bold;
    }
   
  </style>
</head>

<body>
  <div class="login-form">
    {{#if msg}}
    <div class="alert alert-success" role="alert">
      {{msg}}
    </div>
    {{/if}}
    {{#if msg5}}
    <div class="alert alert-danger" role="alert">{{msg5}}</div>
    {{/if}}
    <form action="/login" method="POST">
      <h2 class="text-center">Login</h2>
      <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required="required" />
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required="required" />
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>

  </div>
  </form>




{{!-- 
  <p class="text-center"><a href="/register">Create an Account</a></p>
  </div>
  <div class="d-grid gap-2" style="margin-top:20px !important">
    <a class="text-center" data-bs-toggle="modal" data-bs-target="#exampleModal4">Forgot Password</a>
  </div>
  <div class="modal fade" id="exampleModal24" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Forgot Your
            Password Here</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/forgot-password" method="POST">
            <div class="mb-3">
              <input type="email" class="form-control" id="forgotmail" name="forgotmail"
                placeholder="Enter Your Registered Mail Id" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Forgot
                Password</button>
            </div>
          </form>
        </div>
      </div>
    </div> --}}



<div class="login-form">
<button type="button" class="btn btn-primary" style="margin-left:90px" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Forgot Password?
</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forgot Your
                    Password Here</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/forgot-password" method="POST">
                    <div class="mb-3">
                        <input type="email" class="form-control" id="forgotmail" name="forgotmail"
                            placeholder="Enter Your Registered Mail Id" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Forgot
                            Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
    </script>
</body>

</html>