<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <style>
      body{ width: 50%; margin: auto; }
    </style>
  </head>
  <body>
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="container-sm">
        <div class="mb-3">
          <input
            type="text"
            name="pname"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Example Your Prodcut Name"
          />
        </div>
        <div class="mb-3">
          <select class="form-control" name="categorie_name" id="gen">
            <option value="desktop">Desktop</option>
            <option value="laptop">Laptop</option>
            <option value="mobile">Mobile</option>
          </select>
        </div>
        <div class="mb-3">
          <textarea
            name="pdetails"
            class="form-control"
            id=""
            cols="5"
            rows="5"
            placeholder="Enter Your Product Details"
          ></textarea>
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="productprice"
            id="formGroupExampleInput2"
            placeholder="Enter Your Product Price"
          />
        </div>
        <div class="mb-3">
          <input
            type="file"
            class="form-control"
            name="pimg"
            id="formGroupExampleInput2"
            placeholder="Choose Your Product Image"
          />
        </div>
        <button type="submit" class="btn btn-warning">Click Here Submit Your
          Product</button>
      </div>
    </form>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"
  ></script>
</html>