<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #3598DC;
        }
        .h1{
            color: white;
        }
        span{
            color:chartreuse;
        }
    </style>
</head>
<body>
    <h1 class="h1">Hi, <span><i>{{name}}</i></span> Your Registration Succeessfully Completed</h1>
    <h1 class="h1">Activation link send to your Registered mail id <span><i>{{mail}}</i></span></h1>
</body>
</html>