<div class="col-md-6" style="margin: auto;">
    <div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Update your category field name</h3>
  </div>
  <form accept="" method="POST">
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Enter Value</label>
        <input
          type="text"
          class="form-control"
          name="editCategory"
          id="exampleInputEmail1"
          placeholder="Enter value here..."
        />
      </div>
      <button type="submit" class="btn btn-primary">Click Here to Update Data</button>
  </form>
</div>
</div>