<h3>Login Here...</h3>
<div class="container">
  <form id="loginForm" method="POST">
    <div class="name" id="nameid">
      <label for="name">User Name/Email/Mobile</label>
      <input type="text" id="name" name="name" placeholder="Enter Your Name/Email/Mobile.." /><br />
    </div><br><br>

    <div class="password" id="passwordid">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter Your Password.." /><br />
    </div><br><br>

    <input type="submit" value="Login" />
  </form>
</div>
<script>
  $(document).ready(function(){
    new userEventHandler();
  });
</script>